.contacts {
    grid-area: contacts;
    background-color: #FDFDFD;

    padding: 20px;
    font-size: 15px;
    font-weight: 500;
}

.title {
    margin-bottom: 30px;
    color: #000;
}

.title::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #088dcd;
    text-align: center;
}


.search {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;

    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    border: 2px solid #F4F2F2;
}

.contactElement {
    height: 460px;
    overflow: auto;
}

.contactElement::-webkit-scrollbar {
    width: 6px;
}

.contactElement::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
    border-radius: 5px;
}

.contactElement::-webkit-scrollbar-thumb:hover {
    background-color: #8b8b8b;
}


