.friends {
    background-color: #FDFDFD;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.titleItem {
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #424242;
    cursor: pointer;
}

.activeItem::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #088dcd;
    text-align: center;
}
