body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F4F2F2;
  color: #545454;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/*
bg page - #F4F2F2
bg content - #FDFDFD
color text - #545454  (#212529)
title color  - #424242
*/
